@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    /* 5rem top-offset to account for header */
    /* 4rem bottom-offset to account for footer */
    margin: 5rem auto 3rem auto;
    max-width: 1280px;
    padding: 2rem;
}

:root {
    --baconeta-black: black;
    --baconeta-dgrey: #3A3A3C;
    --baconeta-lgrey: #6D6E71;
    --baconeta-white: white;
    --baconeta-green: #86C54E;
    --baconeta-green-complement: #793AB1;
    --baconeta-blue: #4E86C5;
    --baconeta-pink: #C54E86;

    font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--baconeta-dgrey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    text-align: center;
}

.flex-row {
    width: auto;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    background-color: var(--baconeta-green);
    & a {
        padding: 0.5rem 2rem;
        margin: 0.5rem 2rem;

        font-size: 1.75rem;
        font-family: "Roboto Slab", system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: var(--baconeta-white);
    }
    & a:hover {
        color: var(--baconeta-green-complement);
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    background-color: var(--baconeta-lgrey);

    & a {
        padding: 1rem 2.5rem;

        font-size: 0.9em; /* 80% parent */
        font-family: "Roboto Slab", system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-style: italic;
        color: var(--baconeta-white);
    }
    & a:hover {
        color: var(--baconeta-green);
    }
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

a {
    font-weight: 500;
    color: var(--baconeta-white);
    text-decoration: inherit;
}

a:hover {
    color: var(--baconeta-blue);
}
